{% extends 'pages/base.html' %} {% load static %} {% block conteudo %}
<div class="container">
  <h1 style="text-align: center">Base de usuários</h1>
  <table style="text-align: center" class="table table-bordered table-striped">
    <tr>
      <th>Matrícula</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Sexo</th>
      <th>Altura (cm)</th>
      <th>Peso (kg)</th>
      <th>Nível de Atividade</th>
      <th>Objetivo</th>
      <th>IMC</th>
      <th>Enquadramento IMC</th>
      <th>Gasto Calórico Estimado (Dia)</th>
      <th>Recomendação Nutricional</th>
    </tr>
    {% for usuario in usuarios %}
    <tr>
      <td>{{usuario.id_usuario}}</td>
      <td>{{usuario.nome}}</td>
      <td>{{usuario.idade}}</td>
      <td>{{usuario.sexo}}</td>
      <td>{{usuario.altura}}</td>
      <td>{{usuario.peso}}</td>
      <td>{{usuario.atividade}}</td>
      <td>{{usuario.objetivo}}</td>
      <td>{{usuario.imc}}</td>
      <td>{{usuario.imc_stat}}</td>
      <td>{{usuario.tmb}}</td>
      <td>
        <a
          href="{% url 'recomendacao_nutricional_com_usuario' usuario.id_usuario %}"
        >
          <img
            src="{% static 'images/nutrition.png' %}"
            alt="IMC"
            style="width: 10%; height: auto"
          />
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>

  <div style="text-align: center">
    <img
      src="{% static 'images/imc.jpg' %}"
      alt="IMC"
      style="width: 30%; height: auto"
    />
  </div>
</div>
{% endblock %}
